body{
    background-image: url(../image/pluie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.titrePrinc{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    color: rgba(115, 117, 118, 0.475);
}
form{
    width: 300px;
    margin: 10px auto;
}
form div #inputCity{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form div #btnRech{
    width: 100%;
    margin-top: 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(13, 162, 231);
    border-radius: 20px;
    border: solid rgb(13, 162, 231);
}
.box-container{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.box{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}
#city{
    background-color: rgba(41, 128, 185, 0.75);
}
#temp{
    background-color: rgba(43, 78, 101, 0.75);
}
#humidity{
    background-color: rgba(120, 95, 129, 0.75);
}
#wind{
    background-color: rgba(24, 90, 20, 0.75);
}